.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    margin: 0 auto;
    border: 10px solid rgb(245, 95, 19);
    background-color: rgb(236, 138, 27);
}
h1 {
    font-family: 'Bangers', cursive;
    text-align: center;
    background-color: rgb(236, 138, 27);
    word-spacing: 20px;
    letter-spacing: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
h2 {
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
h3 {
    background-color: rgb(236, 138, 27);
    font-family: 'Bangers', cursive;
    word-spacing: 5px;
    letter-spacing: 5px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
footer {
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: medium;
}
button {
    background-color: rgb(236, 138, 27);
    font-size: x-large;
    border: 8px solid rgb(236, 138, 27);
    border-radius: 8px;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 20px;
}
#reload {
    font-family: 'Bangers', cursive;
}
#logo {
    text-align: center;
    padding-top: 20px;
}
body {
    background-color: whitesmoke;
}